.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 1.5rem 2rem;

    box-shadow: 0 -5px 5px -5px #ff6200;
    border-top: .1rem solid #ff6200;

    &__content {
        width: 100%;
        max-width: 1200px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            font-size: 1rem;
            letter-spacing: .5rem;
        }

        small {
            font-size: .9rem;
        }
    }
}