<section class="users">
  <div class="users__content">
    <div class="users__content__headings">
      <p class="users__content__headings__heading">Wybierz użytkownika</p>
      <p class="users__content__headings__heading">Dodaj użytkownika</p>
    </div>

    <div class="users__content__details">
      <div class="users__content__select">
        <div class="users__content__select__allusers">
          <a routerLink="userpanel" class="users__content__select__allusers__usercontent">
            <span class="users__content__select__allusers__usercontent__user">Emaunel Kak</span>
            <span class="users__content__select__allusers__usercontent__user">Data: 12.12.2020</span>
          </a>
          <a routerLink="userpanel" class="users__content__select__allusers__usercontent">
            <span class="users__content__select__allusers__usercontent__user">Emaunel Kak</span>
            <span class="users__content__select__allusers__usercontent__user">Data: 12.12.2020</span>
          </a>
          <a routerLink="userpanel" class="users__content__select__allusers__usercontent">
            <span class="users__content__select__allusers__usercontent__user">Emaunel Kak</span>
            <span class="users__content__select__allusers__usercontent__user">Data: 12.12.2020</span>
          </a>
        </div>
      </div>

      <div class="users__content__add">
        <p class="users__content__add__heading">Dodaj użytkownika</p>
        <button class="users__content__add__add">+</button>
      </div>
    </div>
  </div>
</section>
