<header class="header">
  <nav class="header__nav__desktop">
    <a routerLink="/">
      <h1 class="header__nav__desktop__header">ING Bank</h1>
    </a>
    <ul class="header__nav__desktop__list">
      <li class="header__nav__desktop__list__item">
        O nas
      <li class="header__nav__desktop__list__item">Regulamin</li>
      <li class="header__nav__desktop__list__item">Możliwości</li>
      <li class="header__nav__desktop__list__item">
        <a routerLink="/login">
          Zaloguj
        </a>
      </li>
    </ul>
  </nav>
</header>
