<section class="userpanel">
  <div class="userpanel__resources">
    <div class="userpanel__resources__circle">
      <div class="userpanel__resources__circle__content">
        <p class="userpanel__resources__circle__content__value">
          1 444 zł
        </p>
        <p class="userpanel__resources__circle__content__account">
          konto direct Emanuel Kak
        </p>
      </div>
    </div>
    <span class="divider">
    </span>
    <div class="userpanel__resources__maketransaction">
      <div class="userpanel__resources__maketransaction__payin">
        <span class="userpanel__resources__maketransaction__payin__add">
          +
        </span>
        <button (click)="openModal('custom-modal-1')" class="userpanel__resources__maketransaction__payin__txt">
          wpłać środki
        </button>
      </div>
      <div class="userpanel__resources__maketransaction__payin">
        <span class="userpanel__resources__maketransaction__payin__add">
          +
        </span>
        <a routerLink="" class="userpanel__resources__maketransaction__payin__txt">
          wypłać środki
        </a>
      </div>
      <div class="userpanel__resources__maketransaction__payin">
        <span class="userpanel__resources__maketransaction__payin__add">
          +
        </span>
        <a routerLink="" class="userpanel__resources__maketransaction__payin__txt">
          wykonaj przelew
        </a>
      </div>
    </div>
  </div>

  <app-modal id="custom-modal-1">
    <h1>A Custom Modal Window!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
  </app-modal>

</section>
